<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin_default}">
    <th:block layout:fragment="script">

        <script th:inline="javascript">
            <!-- 카테고리 스크립트-->
            function  change(e) {
                var category1 = ["1-1", "1-2", "1-3"];
                var category2 = ["2-1", "2-2", "2-3"];
                var category3 = ["3-1", "3-2", "3-3"];
                var target = document.getElementById("2");

                if(e.value == "1") var d = category1;
                else if(e.value == "2") var d = category2;
                else if(e.value == "3") var d = category3;

                target.options.length = 0;

                for (x in d) {
                    var opt = document.createElement("option");
                    opt.value = d[x];
                    opt.innerHTML = d[x];
                    target.appendChild(opt);
                }
            }
        </script>
    </th:block>
    <div layout:fragment="content">
        <div class="container">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">상품 정보 등록</h6>
                </div>
                <div class="card-body">
                    <form role="form" method="post" enctype="multipart/form-data" th:object="${itemFormDto}">
                        <table class="table table-borderless">
                            <tr>
                                <td width="50">
                                    <label>상품분류</label>
                                </td>
                                <td width="50">
                                    <select id="1" onchange="change(this)">
                                        <option>1차분류</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    <select id="2">
                                        <option>2차분류</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td width="50">
                                    <label>상품명</label>
                                </td>
                                <td width="50">
                                    <input type="text" placeholder="상품명을 입력해주세요">
                                </td>
                            </tr>
                            <tr>
                                <td width="50">
                                    <label>판매가격</label>
                                </td>
                                <td width="50">
                                    <input type="number" placeholder="가격을 입력해주세요">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>재고수량</label>
                                </td>
                                <td>
                                    <input type="number" placeholder="재고수량">
                                </td>
                            </tr>
                            <tr>
                                <td width="50">
                                    <label>상품 이미지</label>
                                </td>
                                <td width="50">
                                    <input type="file">
                                </td>
                            </tr>
                            <tr>
                                <td width="50">
                                    <label>판매상태</label>
                                </td>
                                <td width="50">
                                    <input type="checkbox" name="status" value="sell" onclick="checkOnlyOne(this)">정상판매
                                    &nbsp;
                                    <input type="checkbox" name="status" value="sold out" onclick="checkOnlyOne(this)">품절
                                </td>
                            </tr>
                            <tr>
                                <td width="50">
                                    <label>INFO</label>
                                </td>
                                <td width="50">
                                    <input type="text" style="width: 500px; height: 50px">
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <div class=" pagination justify-content-center mb-4">
                <input class="btn btn-primary" type="submit" value="등록">
            </div>
        </div>
    </div>
</html>