<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"    layout:decorate="~{layout/admin_default}">
<th:block layout:fragment="content">
<div class="container">
    <div class="card shadow mb-4">
        <div class="card-header">
        총 <b class="num-searched"><span th:text="${memberList.totalElements}"></span></b> 명의 회원이 검색되었습니다
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>이름</th>
                                    <th>아이디</th>
                                    <th>email</th>
                                    <th>전화번호</th>
                                    <th>생성날짜</th>
                                     <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="member : ${memberList}">
                                    <td th:text="${member.id}"></td>
                                    <td th:text="${member.name}"></td>
                                    <td th:text="${member.loginId}"></td>
                                    <td th:text="${member.email}"></td>
                                    <td th:text = "${#strings.replace(member.phoneNumber, ',', '-')}"></td>
                                    <td th:text="${#temporals.format(member.regTime, 'yyyy-MM-dd')}"></td>
<!--                                    <td>-->
<!--                                    <a href="#" th:href="@{/members/{id}/edit (id=${member.id})}" class="btn btn-primary" role="button">수정</a>-->
<!--                                    </td>-->
<!--                                    수정버튼 주소 기존 href방식으로 씀-->
                                    <td>
                                        <a href="/members/admin/memberEdit" class="btn btn-primary" role="button">수정</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /container -->
</th:block>
</html>
