<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/mainlayout}">
<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .carousel-inner > .item {
            height: 350px;
        }
        .margin{
            margin-bottom:30px;
        }
        .banner{
            height: 300px;
            position: absolute; top:0; left: 0;
            width: 100%;
            height: 100%;
        }
        .card-text{
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        a:hover{
            text-decoration:none;
        }
        .center{
            text-align:center;
        }
        .mySlides{
            display: block;
        }

    </style>
</th:block>
<th:block layout:fragment="script">
    <script th:inline="javascript">

    </script>
</th:block>

<div layout:fragment="content">
    <div class="slider-area section-padding-8">
        <div class="container-fluid">
            <div class="slider-active-4 nav-style-1 dot-style-4">
                <div class="single-slider">
                    <div class="row no-gutters align-items-center flex-row-reverse">
                        <div class="col-lg-8 col-md-8 col-12 col-sm-12">
                            <div class="slider-single-img-6">
                                <img src="/assets/images/img/banner/1015X780(1).jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-12 col-sm-12">
                            <div class="slider-content-7 slider-animated-1">
                                <h2 class="animated">Anniversary</h2>
                                <h1 class="animated">Sale 50%</h1>
                            </div>
                        </div>
                    </div>
                    <div class="furniture-slider-shape-1">
                        <img src="/assets/images/slider/furniture-slider-shape-1.png" alt="">
                    </div>
                </div>
                <div class="single-slider">
                    <div class="row no-gutters align-items-center flex-row-reverse">
                        <div class="col-lg-8 col-md-8 col-12 col-sm-12">
                            <div class="slider-single-img-6">
                                <img src="/assets/images/img/banner/1015X780(2).jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-12 col-sm-12">
                            <div class="slider-content-7 slider-animated-1">
                                <h2 class="animated">Anniversary</h2>
                                <h1 class="animated">Sale 50%</h1>
                            </div>
                        </div>
                    </div>
                    <div class="furniture-slider-shape-2">
                        <img src="/assets/images/slider/furniture-slider-shape-2.png" alt="">
                    </div>
                </div>
                <div class="single-slider">
                    <div class="row no-gutters align-items-center flex-row-reverse">
                        <div class="col-lg-8 col-md-8 col-12 col-sm-12">
                            <div class="slider-single-img-6">
                                <img src="/assets/images/img/banner/1015X780(3).jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-12 col-sm-12">
                            <div class="slider-content-7 slider-animated-1">
                                <h2 class="animated">Anniversary</h2>
                                <h1 class="animated">Sale 50%</h1>
                            </div>
                        </div>
                    </div>
                    <div class="furniture-slider-shape-3"></div>
                    <div class="furniture-slider-shape-4"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="service-area pt-160 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="service-wrap text-center mb-30">
                        <img class="inject-me" src="assets/images/icon-img/happiness.svg" alt="">
                        <h3>Happiness </h3>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="service-wrap text-center mb-30">
                        <img class="inject-me" src="assets/images/icon-img/shipping-car.svg" alt="">
                        <h3>Free Shipping </h3>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="service-wrap text-center mb-30">
                        <img class="inject-me" src="assets/images/icon-img/trusty.svg" alt="">
                        <h3>All Trusty Brand </h3>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="service-wrap text-center mb-30">
                        <img class="inject-me" src="assets/images/icon-img/support-expart.svg" alt="">
                        <h3>24/7 Support Expert </h3>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="banner-area padding-10-row-col">
        <div class="container">
            <div class="row grid">
                <div class="col-lg-6 col-md-6 col-sm-6 grid-item">
                    <div class="banner-wrap mb-10 mt-55">
                        <div class="banner-img banner-img-overflow">
                            <a><img src="assets/images/img/4/580X450(1).jpg" alt="" ></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 grid-item">
                    <div class="banner-wrap mb-10">
                        <div class="banner-img banner-img-overflow">
                            <a><img src="assets/images/img/4/580X450(2).jpg" alt="" ></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 grid-item">
                    <div class="banner-wrap mb-10">
                        <div class="banner-img banner-img-overflow">
                            <a><img src="assets/images/img/4/580X450(4).jpg" alt="" ></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 grid-item">
                    <div class="banner-wrap mb-10">
                        <div class="banner-img banner-img-overflow">
                            <a><img src="assets/images/img/4/580X450(3).jpg" alt="" ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="product-area pt-145 pb-100">
        <div class="container">
            <div class="section-title-6 mb-65 text-center">
                <h2>Shop By Categories</h2>
            </div>
            <div class="product-tab-list-1 tab-list-1-left nav mb-65 text-center -align-center justify-content-center align-content-center">
                <a class="active" href="#product-1" data-toggle="tab">
                    ALL
                </a>
                <!--                <a href="#product-2" data-toggle="tab">-->
                <!--                    거실-->
                <!--                </a>-->
                <!--                <a href="#product-3" data-toggle="tab">-->
                <!--                    주방-->
                <!--                </a>-->
                <!--                <a href="#product-4" data-toggle="tab">-->
                <!--                    다이닝-->
                <!--                </a>-->
            </div>
            <div class="tab-content jump">
                <div id="product-1" class="tab-pane active">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6" th:each="item, status: ${items.getContent()}">
                            <div class="product-wrap mb-45">
                                <div class="product-img product-img-zoom mb-25">
                                    <a th:href="'/item/' +${item.id}">
                                        <img  th:src="${item.imgUrl}"  alt="" th:alt="${item.itemNm}">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <h4><a href="product-details.html">[[${item.itemNm}]]</a></h4>
                                    <div class="product-price">
                                        <span>[[${item.price}]]원</span>
                                        <span class="old-price">[[${item.price}]]원</span>
                                    </div>
                                </div>
                                <div class="product-action-position-1 text-center">
                                    <div class="product-content">
                                        <h4><a href="product-details.html">[[${item.itemNm}]]</a></h4>
                                        <div class="product-price">
                                            <span>[[${item.price}]]원</span>
                                            <span class="old-price">[[${item.price}]]원</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--    완성 후 삭제 할 부분end-->
</div>
</div>
</html>