<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<div th:fragment="header">
    <div class="main-wrapper main-wrapper-2 main-wrapper-3">
        <header class="header-area section-padding-9 header-ptb-1 transparent-bar sticky-bar">
            <div class="header-large-device">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="logo">
                                <a href="/">
                                    <img src="/assets/images/logo/logo-6.png" alt="logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="header-action-wrap header-action-flex header-action-mrg-1 header-action-white-bg">
                                <div class="same-style header-search-3">
                                    <a class="search-toggle" href="#">
                                        <i class="icofont-search-1 s-open"></i>
                                        <i class="icofont-close-line s-close"></i>
                                    </a>
                                    <div class="search-wrap-3">
                                        <form class="form-inline my-2 my-lg-0" th:action="@{/}" method="get">
                                            <div class="form-search-1">
                                                <input class="input-text" value=""  placeholder="Search here..." type="search" name="searchQuery">
                                                <button type="submit" class="button-search">
                                                    <i class="icofont-search-1"></i>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div class="same-style header-search">
                                    <a href="/members/login" sec:authorize="isAnonymous()"><i class="icofont-login" ></i></a>
                                    <div class="main-menu " sec:authorize="isAuthenticated()" >
                                        <nav>
                                            <ul>
                                                <li>
                                                    <a href="/" sec:authorize="isAuthenticated()"><i class="icofont-user-alt-3" ></i></a>
                                                    <ul class="mega-menu-style-1 mega-menu-width1 menu-negative-mrg1">
                                                        <li class="mega-menu-sub-width33"><a class="menu-title" href="#">USER</a>
                                                            <ul>
                                                                <li>  <a href="/members/mypage" sec:authorize="isAuthenticated()"><i class="icofont-user-alt-3" ></i>마이페이지</a></li>
                                                                <li><a href="/members/logout" sec:authorize="isAuthenticated()"><i class="icofont-logout" ></i>로그아웃</a></li>
                                                                <li> <a href="/admin/main" sec:authorize="hasAnyAuthority('ROLE_ADMIN')"> <i class="icofont-automation" ></i>관리자</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>

                                <div class="same-style header-cart">
                                    <a  href="/cart" sec:authorize="isAuthenticated()"><i class="icofont-shopping-cart"></i></a>
                                </div>
                                <div class="same-style header-info">
                                    <button class="sidebar-active">
                                        <span class="info-width-1"></span>
                                        <span class="info-width-2"></span>
                                        <span class="info-width-3"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-small-device">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <div class="mobile-logo mobile-logo-width">
                                <a href="/">
                                    <img alt="" src="/assets/images/logo/logo-6.png">
                                </a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="header-action-wrap header-action-flex header-action-mrg-1">
                                <div class="same-style header-cart">
                                    <a class="cart-active" href="/cart"  sec:authorize="isAuthenticated()"><i class="icofont-shopping-cart"></i></a>
                                </div>
                                <div class="same-style header-info">
                                    <button class="mobile-menu-button-active">
                                        <span class="info-width-1"></span>
                                        <span class="info-width-2"></span>
                                        <span class="info-width-3"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="clickalbe-sidebar-wrapper-active clickalbe-sidebar-wrapper-style-1">
            <div class="clickalbe-sidebar-wrap">
                <a class="sidebar-close"><i class="icofont-close-line"></i></a>
                <div class="clickable-mainmenu-wrap clickable-mainmenu-style1 sidebar-content-100-percent">
                    <nav>
                        <ul>
                            <li class="has-sub-menu"><a href="/">Home</a>
                            </li>
                            <li ><a href="/itemMain">상품 목록</a>
                            </li>
                            <li><a href="/members/mypage">마이페이지</a></li>
                            <li><a href="/cart">장바구니</a></li>

                            <li><a href="/members/logout">로그아웃</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- mini cart start -->

        <!-- Mobile menu start -->
        <div class="mobile-menu-active clickalbe-sidebar-wrapper-style-1">
            <div class="clickalbe-sidebar-wrap">
                <a class="sidebar-close"><i class="icofont-close-line"></i></a>
                <div class="mobile-menu-content-area sidebar-content-100-percent">
                    <div class="mobile-search">
                        <form class="search-form" action="#">
                            <input type="text" placeholder="Search here…">
                            <button class="button-search"><i class="icofont-search-1"></i></button>
                        </form>
                    </div>
                    <div class="clickable-mainmenu-wrap clickable-mainmenu-style1">
                        <nav>
                            <ul>
                                <li class="has-sub-menu"><a href="/">Home</a>
                                </li>
                                <li class="has-sub-menu"><a href="/itemMain">상품 목록</a>

                                </li>

                                <li><a href="/members/mypage">마이페이지</a></li>
                                <li><a href="/cart">장바구니</a></li>

                                <li><a href="/members/logout">로그아웃</a></li>
                            </ul>
                        </nav>
                    </div>

                    <div class="aside-contact-info">
                        <ul>
                            <li><i class="icofont-clock-time"></i>Monday - Friday: 9:00 - 19:00</li>
                            <li><i class="icofont-envelope"></i>Info@example.com</li>
                            <li><i class="icofont-stock-mobile"></i>(+55) 254. 254. 254</li>
                            <li><i class="icofont-home"></i>Helios Tower 75 Tam Trinh Hoang - Ha Noi - Viet Nam</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>
</html>