<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/admin_default">
<th:block layout:fragment="content">
<div class="container">
    <form th:action="@{/main/register}" method="POST" onsubmit="return sendit()">
        <input type="hidden" id="flag" value="false">
        <table class="basicdata">
            <colgroup>
                <col width="120px"/>
                <col width="auto"/>
            </colgroup>
            <tr>
                <th><label for="user_id">아이디<span>＊</span></label></th>
                <td>
                    <input type="text" name="loginId" id="user_id">
                    <button type="button" id="double_check">중복확인 <i class="fas fa-chevron-right"></i></button>
                </td>
            </tr>
            <tr>
                <th><label for="user_password">비밀번호<span>＊</span></label></th>
                <td><input type="password" name="password" id="user_password">&nbsp; (영문 대소문자/숫자/특수문자 중2가지 이상 조합, 10~16자)</td>
            </tr>
            <tr>
                <th><label for="user_password_ok">비밀번호확인<span>＊</span></label></th>
                <td><input type="password" id="user_password_ok"></td>
            </tr>
            <tr>
                <th><label for="user_name">이름<span>＊</span></label></th>
                <td><input type="text" name="name" id="user_name"></td>
            </tr>

            <tr>
                <th><label for="phone_number">휴대전화<span>＊</span></label></th>
                <td>
                    <select name="phoneNumber[]" id="phone_number" class="phone_number">
                        <option value="02">010</option>
                        <option value="02">011</option>
                        <option value="02">016</option>
                        <option value="02">017</option>
                        <option value="02">018</option>
                        <option value="02">019</option>
                    </select>
                    -
                    <input type="text" name="phoneNumber[]" class="phone_number">
                    -
                    <input type="text" name="phoneNumber[]" class="phone_number">
                </td>
            </tr>
            <tr>
                <th><label for="email">이메일<span>＊</span></label></th>
                <td><input type="text" name="email" id="email"></td>
            </tr>

        </table>

        <div class="bottombtn_box">
            <input type="submit" class="registerbtn bottombtn" value="회원가입">
        </div>
    </form>
    <br/>
</div> <!-- /container -->
</th:block>>
</html>
